.DS_Store
.cache/
auto-save-list/
custom.el
elpa/
emojis/
places
recentf*
server/
smex-items
transient/
history
projectile-bookmarks.eld
cache/
projectile.cache
.lsp-session-v1
.last-package-update-day
gotools/
projects
eshell/
.persistent-scratch
network-security.data

.local/
